{%   extends 'base.html' %}

{% block styles %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
{% endblock %}
{% block title %} PL Tables | Custom Dates {% endblock %}

{% block content %}
    <div class="container">
        <div class="row form">
            <label for="start_date">Start Date:</label>
            <input type="date" id="start_date" name="start_date">
            <br>
            <label for="end_date">End Date:</label>
            <input type="date" id="end_date" name="end_date">
            <br>
            <input class="down-button" type="submit" value="Get Standings">
        </div>
    </div>

   
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        const SCRIPT_ROOT = {{ request.script_root|tojson }}
    </script>
    <script src="{{ url_for('static', filename='js/custom_dates.js') }}"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="{{ url_for('static', filename='js/download_image.js') }}"></script>
{% endblock %}
