{%   extends 'base.html' %}

{% block styles %} <link rel="stylesheet" href="{{ url_for('static', filename='css/managers.css') }}"> {% endblock %}
{% block title %} PL Tables | Managers {% endblock %}

{% block content %}
<div class="container">
    <h1 id="current-manager" class="title">Current PL Managers <span><i class="fa-solid fa-circle-down"></i></span></h1>
    <form id="current-form" action="" method="post">
        <table class="managers-table" id="currentManagers">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Nationality</th>
                    <th>Club</th>
                    <th>Day Joined</th>
                    <th>Days In Charge</th>
                </tr>
            </thead>
            <tbody>
                {% for stint in current_stints %}
                    <tr>
                        <td>
                            <label for="currentManager"> <img class="manager-face" src="{{ stint.face_url }}" ></label>
                        </td>
                        <td class="manager-name">
                            <input class="down-button" type="submit" name="{{ stint.id }}" value="{{ stint.manager_name }}"/>
                        </td>
                        <td>
                            <label for="currentManager"> <img class="team-logo" src="{{ stint.crest_url }}"></label>
                        </td>
                        <td>
                            <label for="currentManager"> <img class="team-logo" src="{{ stint.flag_url }}"></label>
                        </td>
                        <td>
                            <label for="currentManager">{{ stint.date_start }}</label>
                        </td>
                        <td></td>
                        
                    </tr>   
                {% endfor %}
            </tbody>
        </table>
    </form>

    <h1 id="memorable-manager" class="title">Memorable PL Managers <span><i class="fa-solid fa-circle-down"></i></span></h1>
    <form id="memorable-form" action="" method="post">
        <table class="managers-table" id="memorableManagers">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Nationality</th>
                    <th>Club</th>
                    <th>Day Joined</th>
                    <th>Day Left</th>
                    <th>Days in charge</th>
                </tr>
            </thead>
            <tbody>
                {% for stint in ended_stints %}
                    <tr>
                        <td>
                            <label for="memorableManager"> <img class="manager-face" src="{{ stint.face_url }}"></label>
                        </td>
                        <td>
                            <input class="down-button" type="submit" name="{{ stint.id }}" value="{{ stint.manager_name }}"/>
                        </td>
                        <td>
                            <label for="memorableManager"> <img class="team-logo" src="{{ stint.crest_url }}"></label>
                        </td>
                        <td>
                            <label for="memorableManager"> <img class="team-logo" src="{{ stint.flag_url }}"></label>
                        </td>
                        <td>
                            <label for="memorableManager">{{ stint.date_start }}</label>
                        </td>
                        <td>
                            <label for="memorableManager">{{ stint.date_end }}</label>
                        </td>
                        <td>
                        </td>
                    </tr> 
                {% endfor %}
            </tbody>
        </table>
    </form>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/managers.js') }}"></script>
{% endblock %}
