.title{
    margin-bottom: 20px;
}

.dateInput{
    width: 50%;
    margin: 0 auto;
    transition: max-height 1s ease, opacity 1s ease, padding 1s ease;
}

label{
    display: inline-block;
    text-align: left;
    width: 100%;
}

input[type="date"]{
    width: 100%;
    background: transparent;
    border: 2px solid black;
    border-radius: 5px;
    text-align: left; 
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 10px;
    -webkit-appearance: none;
}

.genBtn, .genBtn:visited, .genBtn:active, .genBtn:focus{
    margin-top: 0;
}

h3{
    font-weight: normal;
    color: #FFD700;
}

@media screen and (max-width: 1000px) {
    .genBtn, .genBtn:visited, .genBtn:active, .genBtn:focus{
        height: 70px;
        font-size: 1.1rem;
        line-height: 70px;
    }
}
