<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block styles %} {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <navbar class="sidenav">
        <h1 class="navbar-title">
            <a href="{{ url_for('home.index') }}">PL Tables</a>
        </h1>
        <ul class="navbar-list">
            <li class="navbar-item">
                <a href="{{ url_for('home.index') }}">Home</a>
            </li>
            <li class="navbar-item">
                <a href="{{ url_for('home.about') }}">About</a>
            </li>
            <li class="navbar-item">
                <a href="{{ url_for('home.generate') }}">Generate Tables</a>
            </li>
            <li class="navbar-item">
                <a href="{{ url_for('contact_page.contact_page') }}">Contact Page</a>
            </li>
            {% if current_user.is_authenticated %}
                <li class="navbar-item">
                    <a href="{{ url_for('admin.index') }}">Admin</a>
                </li>
                <li class="navbar-item">
                    <a href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
            {% endif %}
        </ul>
        <ul class="footer-list">
            <li class="footer-item">
                <a href="{{ url_for('contact_page.contact_page') }}"><i class="fa-sharp fa-solid fa-envelope"></i></a>
            </li>
            <li class="footer-item">
                <a href="https://bmc.link/andreascal" target="_blank"><i class="fa-solid fa-mug-hot"></i></a>
            </li>
            <li class="footer-item">
                <a href="https://twitter.com/andreascalleja" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li class="footer-item">
                <a href="https://github.com/andreasmalta1/pl_table" target="_blank"><i class="fa-brands fa-github"></i></a>
            </li>
            <li class="footer-item">
                <a href="https://www.linkedin.com/in/andreascalleja/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </li>
        </ul>
        <div class="footer-bottom">
            <p>Copyright &copy; Andreas Calleja. Designed by <span>Andreas Calleja</span></p>
        </div>

    </navbar>

    <nav class="mobile-nav">
        <button class="hamburger">
            <div class="bar"></div>
        </button>

        <div class="mobile-nav-list">
            <li class="navbar-item">
                <a href="{{ url_for('home.index') }}">Home</a>
            </li>
            <li class="navbar-item">
                <a href="{{ url_for('home.about') }}">About</a>
            </li>
            <li class="navbar-item">
                <a href="{{ url_for('home.generate') }}">Generate Tables</a>
            </li>
            <li class="navbar-item">
                <a href="{{ url_for('contact_page.contact_page') }}">Contact Page</a>
            </li>
            {% if current_user.is_authenticated %}
                <li class="navbar-item">
                    <a href="{{ url_for('admin.index') }}">Admin</a>
                </li>
                <li class="navbar-item">
                    <a href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
            {% endif %}
            <ul class="footer-list">
                <li class="footer-item hamburger-icon">
                    <a href="{{ url_for('contact_page.contact_page') }}"><i class="fa-sharp fa-solid fa-envelope"></i></a>
                </li>
                <li class="footer-item hamburger-icon">
                    <a href="https://bmc.link/andreascal" target="_blank"><i class="fa-solid fa-mug-hot"></i></a>
                </li>
                <li class="footer-item hamburger-icon">
                    <a href="https://twitter.com/andreascalleja" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                </li>
                <li class="footer-item hamburger-icon">
                    <a href="https://github.com/andreasmalta1/pl_table" target="_blank"><i class="fa-brands fa-github"></i></a>
                </li>
                <li class="footer-item hamburger-icon">
                    <a href="https://www.linkedin.com/in/andreascalleja/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="main-content">
        {% block content %} {% endblock %}
    </div>

    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% block scripts %} {% endblock %}
</body>
</html>