<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block styles %} {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <navbar class="navbar-container">
        <h1 class="navbar-title">
            <a href="{{ url_for('index') }}">Premier League Tables</a>
        </h1>
        <ul class="navbar-list">
            <li class="navbar-item">
                <a href="{{ url_for('index') }}">Custom</a>
            <li class="navbar-item">
                <a href="{{ url_for('index') }}">Seaons</a>
            </li>
            <li class="navbar-item">
                <a href="{{ url_for('index') }}">PL Managers</a>
            </li>
        </ul>
    </navbar>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "error" %}
                    <div>
                        {{ message }}
                        <button data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %} {% endblock %}

    <footer class="footer-container">
        <h3 class="footer-title">Premier League Tables</h3>
        <ul class="footer-list">
            <li class="footer-item">
                <a href="https://twitter.com/andreascalleja" target="_blank"><i class="fa-sharp fa-solid fa-envelope"></i></a>
            </li>
            <li class="footer-item">
                <a href="https://twitter.com/andreascalleja" target="_blank"><i class="fa-brands fa-twitter"></i></i></a>
            </li>
            <li class="footer-item">
                <a href="https://github.com/andreasmalta1/pl_table" target="_blank"><i class="fa-brands fa-github"></i></a>
            </li>
            <li class="footer-item">
                <a href="https://www.linkedin.com/in/andreascalleja/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </li>
        </ul>
        <div class="footer-bottom">
            <p>Copyright &copy; Andreas Calleja. Designed by <span>Andreas Calleja</span></p>
        </div>
    </footer>

    {% block scripts %} {% endblock %}
</body>
</html>