{% extends 'base.html' %}

{% block styles %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block title %} PL Tables | Home {% endblock %}

{% block content %}
    <div class="container">
        <div id="standings-title"></div>
        <div id="standings" class="standings"></div>
        <br>
        <div id="deductions" class="deductions"></div>
        <br>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        const SCRIPT_ROOT = {{ request.script_root|tojson }}
    </script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/table.js') }}"></script>
{% endblock %}
