{%   extends 'base.html' %}

{% block styles %} <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}"> {% endblock %}
{% block title %} PL Tables | Home {% endblock %}

{% block content %}
    {% if current_table %}
        <h2>Current PL Table</h2>
        <table class="standing-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Team</th>
                    <th>MP</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>GF</th>
                    <th>GA</th>
                    <th>GD</th>
                    <th>PTS</th>
                </tr>
            </thead>
            <tbody>
                {% for team, stats in current_table %}
                    <tr>
                        <td><img class="team-logo" src="{{ stats['url'] }}" alt="{{ team }}"></td>
                        <td>{{ team }}</td>
                        <td>{{ stats['played'] }}</td>
                        <td>{{ stats['win'] }}</td>
                        <td>{{ stats['draw'] }}</td>
                        <td>{{ stats['loss'] }}</td>
                        <td>{{ stats['goals_for'] }}</td>
                        <td>{{ stats['goals_against'] }}</td>
                        <td>{{ stats['gd'] }}</td>
                        <td>{{ stats['points'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h2>All Time PL Table</h2>
    {% if all_time_table %}
        <table class="standing-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Team</th>
                    <th>MP</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>GF</th>
                    <th>GA</th>
                    <th>GD</th>
                    <th>PTS</th>
                </tr>
            </thead>
            <tbody>
                {% for team, stats in all_time_table %}
                    <tr>
                        <td><img class="team-logo" src="{{ stats['url'] }}" alt="{{ team }}"></td>
                        <td>{{ team }}</td>
                        <td>{{ stats['played'] }}</td>
                        <td>{{ stats['win'] }}</td>
                        <td>{{ stats['draw'] }}</td>
                        <td>{{ stats['loss'] }}</td>
                        <td>{{ stats['goals_for'] }}</td>
                        <td>{{ stats['goals_against'] }}</td>
                        <td>{{ stats['gd'] }}</td>
                        <td>{{ stats['points'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
