{%   extends 'base.html' %}

{% block styles %} <link rel="stylesheet" href="{{ url_for('static', filename='css/managers.css') }}"> {% endblock %}
{% block title %} PL Tables | Managers {% endblock %}

{% block content %}
<h1>Current PL Managers</h1>
    <form action="" method="post">
        {% for manager in current_managers %}
            <label for="manager"> <img class="team-logo" src="{{ current_managers[manager]['manager_url'] }}" alt="{{ team }}"></label>
            <input type="submit" name="manager" value="{{ manager }}"/>
            <label for="manager"> <img class="team-logo" src="{{ current_managers[manager]['nationality_url'] }}" alt="{{ team }}"></label>
            <label for="manager"> <img class="team-logo" src="{{ current_managers[manager]['club_url'] }}" alt="{{ team }}"></label>
            <label for="manager">{{ current_managers[manager]['date_start'] }}</label>
            <label for="manager">{{ current_managers[manager]['days_in_charge'] }}</label>
            <br>
        {% endfor %}
    </form>
<h1>Memorable PL Managers</h1>
    <form action="" method="post">
        {% for manager in memorable_managers %}
            <label for="manager"> <img class="team-logo" src="{{ memorable_managers[manager]['manager_url'] }}" alt="{{ team }}"></label>
            <input type="submit" name="manager" value="{{ manager }}"/>
            <label for="manager"> <img class="team-logo" src="{{ memorable_managers[manager]['nationality_url'] }}" alt="{{ team }}"></label>
            <label for="manager"> <img class="team-logo" src="{{ memorable_managers[manager]['club_url'] }}" alt="{{ team }}"></label>
            <label for="manager">{{ memorable_managers[manager]['date_start'] }}</label>
            <label for="manager">{{ memorable_managers[manager]['date_end'] }}</label>
            <label for="manager">{{ memorable_managers[manager]['days_in_charge'] }}</label>
            <br>
        {% endfor %}
    </form>
{% endblock %}