{%   extends 'base.html' %}

{% block styles %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/seasons.css') }}">
{% endblock %}
{% block title %} PL Tables | Seasons {% endblock %}

{% block content %}
    <div class="container">
        <h1 id="seasons-title" class="title">PL Seasons <span><i class="fa-solid fa-circle-down"></i></span></h1>
        <form id="seasons-form" action="" method="post" i>
            {% for season in seasons %}
                <input class="down-button" type="submit" name="season" value="{{ season }}"/>
            {% endfor %}
        </form>

        {% if standings_table %}
            <script>
                const titleElScript = document.getElementById("seasons-title")
                const formElScript = document.getElementById("seasons-form")

                formElScript.classList.add("form-hidden")
            </script>
            <h2>Standings</h2>
            <table id="pl-table" class="standing-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Team</th>
                        <th>MP</th>
                        <th>W</th>
                        <th>D</th>
                        <th>L</th>
                        <th>GF</th>
                        <th>GA</th>
                        <th>GD</th>
                        <th>PTS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team, stats in standings_table %}
                        <tr>
                            <td><img class="team-logo" src="{{ stats['url'] }}" alt="{{ team }}"></td>
                            <td>{{ team }}</td>
                            <td>{{ stats['played'] }}</td>
                            <td>{{ stats['win'] }}</td>
                            <td>{{ stats['draw'] }}</td>
                            <td>{{ stats['loss'] }}</td>
                            <td>{{ stats['goals_for'] }}</td>
                            <td>{{ stats['goals_against'] }}</td>
                            <td>{{ stats['gd'] }}</td>
                            <td>{{ stats['points'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button class="down-button" id="down-table">Download Table</button>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="{{ url_for('static', filename='js/download_image.js') }}"></script>
    <script src="{{ url_for('static', filename='js/seasons.js') }}"></script>
{% endblock %}