/* General CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #52307C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body, input, li, a, a:visited, a:active, a:focus, button, input, label, textarea {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #EDF0F1;
  text-decoration: none;
}

.main-content{
  padding: 50px;
  margin-left: 200px;
}

.is-active{
  display: none;
}
/* End General CSS */

/* Navbar CSS */
.sidenav{
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #29183E;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-title{
  margin-right: auto;
  text-align: center;
}

.navbar-title a{
  font-size: 1.3rem;
}

.navbar-item a{
  font-size: 1rem;
}

.navbar-list{
  margin-top: 50px;
  list-style: none;
}

.navbar-list li{
  text-align: center;
  display: block;
  padding: 15px 15px;
}

.navbar-list li a, .navbar-title a{
  transition: all 0.3s ease 0s;
}

.navbar-list li a:hover, .navbar-title a:hover{
  color: #8F4BE4
}

.footer{
  margin-bottom: 50px;
}

.footer-list{
  margin-top: 100px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 ;
}

.footer-item{
  margin: 0 10px;
}

.footer-list a{
  font-size: 1.1rem;
  transition: all 0.3s ease 0s;
}

.footer-list a:hover i{
  color: #52307C;
}

.footer-bottom{
  text-align: center;
}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
}

.footer-bottom span{
  opacity: .4;
}
/* End Navbar CSS */

/* Mobile Navbar CSS*/
.hamburger{
  display: none;
  width: 35px;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.hamburger .bar, .hamburger:after, .hamburger:before{
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #FFF;
  margin: 6px 0px;
  transition: 0.4s
}

.hamburger.is-active:before{
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active .bar{
  opacity: 0;
}

.hamburger.is-active:after{
  transform: rotate(45deg) translate(-9px, -8px);
}

.mobile.nav{
  display: none;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 98;
  background-color: #4b366d;
  transition: 0.4s;
  flex-direction: column;
  justify-content: space-between;
}

.mobile.nav.is-active{
  left: 0;
}

.mobile.navbar-list{
  margin-top: 120px;
}


.mobile.navbar-title{
  margin-top: 50px;
}

.mobile.navbar-title a{
  font-size: 4rem;
}

.mobile.navbar-item{
  margin-bottom: 45px;
}

.mobile.navbar-item a{
  font-size: 2rem;
  height: 8rem;
}

.mobile.footer-list{
  margin-bottom: 75px;
}


.mobile.footer-item{
  margin: 0 25px;
}

.mobile.footer-item a{
  font-size: 2.5rem;
}

.mobile.footer-item a:hover i{
  color: white
}


.mobile.footer-bottom p{
  font-size: 1.5rem;
}
/* End Mobile Navbar CSS */

@media screen and (max-width: 1000px) {
  .sidenav{
    display: none;
  }

  .main-content{
    margin: 0;
    padding: 25px;
  }

  .hamburger{
    display: block;
    position: fixed;
    left: 25px;
    top: 25px;
  }

  .mobile.nav{
    display: flex;
  }
}