* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #52307C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body, input, li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #EDF0F1;
  text-decoration: none;
}

.navbar-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 30px;
  background: #29183E;
}

.navbar-title{
  margin-right: auto;
}

.navbar-title a{
  font-size: 1.8rem;
}

.navbar-list{
  list-style: none;
}

.navbar-list li{
  display: inline-block;
  padding: 0px 20px;
}

.navbar-list li a{
  transition: all 0.3s ease 0s;
}

.navbar-list li a:hover{
  color: red
}

.footer-container{
  background: #29183E;
  height: auto;
  padding: 15px 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: auto;
}

.footer-title{
  font-size: 1.2rem;
  line-height: 3rem;
}

.footer-list{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 ;
}

.footer-item{
  margin: 0 10px;
}

.footer-list a{
  font-size: 1.1rem;
  transition: all 0.3s ease 0s;
}

.footer-list a:hover i{
  color: #52307C;
}

.footer-bottom{
  text-align: center;
}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
}

.footer-bottom span{
  opacity: .4;
}

.team-logo {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.down-button{
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #432a61;
  margin: 15px auto;
  justify-content: center;
  transition: .2s ease-in-out 0s;
  font-weight: bold;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.down-button:hover{
  transform: scale(1.1);
  cursor: pointer;
  color: #432a61;
  background-color: white;
}

.title{
  text-align: center;
  margin: 20px
}