.container{
    text-align: center;
    flex-wrap: wrap;
}

.title{
  text-align: center;
  margin: 45px;
  font-size: 1.6rem;
  color: #F5E1FF
}

.tableArea{
  margin: 0 auto;
  width: 90%;
}

.standings{
  text-align: center;
}

.deductions{
  text-align: left;
  font-weight: bold;
  color: black;
  font-size: 0.9rem;
}

.form-hidden{
  display: none;
}

.hidden{
  display: none;
  }


@media screen and (max-width: 1000px) {
  .container{
    height: 100vh;
  }
  
  .title{
    font-size: 3rem
  }

  .deductions{
    font-size: 1.1rem;
  }
}
  