.container{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
}

label{
    width: fit-content;
    border-radius: 10px;
    font-size: 1.3rem;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

input{
    -webkit-appearance: none;
 }
 

input[type="date"]{
    background: transparent;
    border: none;
    text-align: right; 
    margin: 10px 0;
    font-size: 1.2rem;
}

.label{
    margin: 10px 0
}

.error{
    margin-top: 20px;
}

@media screen and (max-width: 1000px) {
    .container{
        width: 90%;
    }
    
    label{
        font-size: 2rem;
    }

    .form{
        width: 75%;
        margin: 20px auto;
        margin-bottom: 0px;
    }

    input[type="date"]{
        font-size: 2rem;
        text-align: center;
    }

    .down-button{
        margin-top: 35px;
    }

    .no-table{
        margin-top: 40px;
    }
  }