input{
  color: black;
}

form{
  margin: 0 auto;
  text-align: center;
  transition: 1s ease-out;
}

input{
  width: 175px;
}

.container{
  width: 75%;
  margin: 0 auto;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.down-button{
  width: 100%;
}

table{
  margin: 0 auto;
}

#current-manager:hover, #memorable-manager:hover{
  transform: scale(1.05);
}

table{
  border-collapse: collapse;
  width: 80%;
  background: #432a61;
  background-image: url('/static/images/pl.png');
  background-size: cover;
}
  
th, td{
  border-bottom: none;
  border-top: none;
  padding: 8px;
  text-align: center;
}

th{
  background-color: black;
}