form{
    display: flex;
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
    transition: 1s ease-out;
    gap: 1.5rem;
}

input{
    width: 150px;
}

.container{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
}

#seasons-title{
    transition: 1s ease-out;
    cursor: pointer;
}

#seasons-title:hover{
    transform: scale(1.05);
}

.title span{
    font-size: 1rem;
}


@media screen and (max-width: 1000px) {
    .container{
        width: 90%;
    }

    input{
        width: 25%;
        font-size: 1.9rem;
    }

    .down-button{
        padding: 25px;
    }

    .title span{
        font-size: 1.6rem;
    }
  }
