* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #52307C;
}

body, input, li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #EDF0F1;
  text-decoration: none;
}

.navbar-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10px;
  background: #29183E;
  
}
.navbar-title{
  margin-right: auto;
}

.navbar-title a{
  font-size: 1.8rem;
}

.navbar-list{
  list-style: none;
}

.navbar-list li{
  display: inline-block;
  padding: 0px 20px;
}

.navbar-list li a{
  transition: all 0.3s ease 0s;
}

.navbar-list li a:hover{
  color: red
}



table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .team-logo {
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }
  
  .team-name {
    font-weight: bold;
  }
  
  .points {
    font-weight: bold;
    color: #d80d0d;
  }
  
  .goal-diff {
    color: #007bff;
  }
  
  .standing-table {
    margin-top: 20px;
  }
  
  .standing-table th,
  .standing-table td {
    min-width: 120px;
  }
  