{% extends "base.html" %}

{% block title %} PL Tables | New Manager {% endblock %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Enter New Manager</h3>
    <div class="box">
        {% if not manager %}
        <form method="POST" action="{{ url_for('updates.new_manager') }}">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="manager_name" placeholder="Manager Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="face_url" placeholder="Manager Face URL" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label for="nation">Nation:</label>
                    <br>
                    <select name="nation">
                    {% for nation in nations %}
                        <option value="{{ nation.id }}">{{ nation.name }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Submit Manager</button>
        </form>
        {% endif %}
        {% if manager %}
            <h1>Manager Added</h1>
            <h3>Manager Name - {{ manager.name }}</h3>
            <h3>Face URL - {{ manager.face_url }}</h3>
            <h3>Nation Id - {{ manager.nation_id }}</h3>
            <a href="{{ url_for('updates.new_manager') }}">Generate New Manager</a>
        {% endif %}
    </div>
</div>
{% endblock %}
