{% extends "base.html" %}

{% block title %} PL Tables | New Season {% endblock %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Begin New Season</h3>
    <div class="box">
        {% if not new_season %}
        <form method="POST" action="{{ url_for('updates.new_season') }}">
            <div class="field">
                <div class="control">
                    <label for="relegated-teams">Relegated Teams:</label>
                    <br>
                    <select name="relegated-teams" multiple size="20" style="height: 400%;">
                    {% for team in current_teams %}
                        <option value="{{ team.id }}">{{ team.name }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label for="promoted-teams">Promoted Teams:</label>
                    <br>
                    <select name="promoted-teams" multiple size="20">
                    {% for team in non_current_teams %}
                        <option value="{{ team.id }}">{{ team.name }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="season" value="{{ season }}" autofocus="">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Start New Season</button>
        </form>
        {% endif %}
        {% if new_season %}
            <h1>Beginning new season: {{ new_season }}</h1>
            <h3>Promoted Teams</h3>
            {% for team in promoted_teams %}
                <h4>{{ team }}</h4>
            {% endfor %}
            <h3>Relegated Teams</h3>
            {% for team in relegated_teams %}
                <h4>{{ team }}</h4>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
