{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/generate.css') }}">
{% endblock %}

{% block title %} PL Tables | Generate {% endblock %}

{% block content %}
    <div class="title">Generate PL Tables</div>
    <div class="generate">
        <li class="generate-item">
            <a href="{{ url_for('all_time.index') }}">All Time PL Table</a>
        </li>
        <li class="generate-item">
            <a href="{{ url_for('custom_date.custom_date') }}">Custom Dates</a>
        </li>
        <li class="generate-item">
            <a href="{{ url_for('season.seasons') }}">Seasons</a>
        </li>
        <li class="generate-item">
            <a href="{{ url_for('year.yearly') }}">Calendar Year</a>
        </li>
        <li class="generate-item">
            <a href="{{ url_for('manager.current_managers') }}">Current PL Managers</a>
        </li>
        <li class="generate-item">
            <a href="{{ url_for('manager.old_managers') }}">Past PL Managers</a>
        </li>
    </div>
{% endblock %}
