{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
{% endblock %}
{% block title %} PL Tables | Home {% endblock %}

{% block content %}
    <div id="standingsTitle" class="title"></div>
    <div class="tableArea">
        <div id="standings" class="standings"></div>
        <br>
        <div id="deductions" class="deductions"></div>
        <div class="btnContainer">
            <button id="downBtn" class="genBtn">Download Table</button>
        </div>
        <br>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        const SCRIPT_ROOT = {{ request.script_root|tojson }}
    </script>
    <script src="{{ url_for('static', filename='js/blueprints/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/table.js') }}"></script>
    <script src="{{ url_for('static', filename='js/image.js') }}"></script>
{% endblock %}
