{% extends "base.html" %}

{% block title %} PL Tables | End Stint {% endblock %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">End Managerial Stint</h3>
    <div class="box">
        {% if not ended_stint %}
        <form id="adminForm" name="adminForm" method="POST" action="{{ url_for('admin.end_stint') }}">
            <div class="field">
                <div class="control">
                    <label for="stint">Stints:</label>
                    <br>
                    <select name="stint">
                    {% for stint in stints %}
                        <option value="{{ stint.id }}">{{ stint.manager_name }} - {{ stint.team_name }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label for="end-date">End Date:</label>
                    <br>
                    <input id="endDate" type="date" name="end-date"/>
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">End Managerial Stint</button>
        </form>
        {% endif %}
        {% if ended_stint %}
            <h1>Managerial Stint Ended</h1>
            <img src="{{ ended_stint.face_url }}" alt="{{ ended_stint.manager_name }}">
            <br>
            <h3>Team Name - {{ ended_stint.team_name }}</h3>
            <img src="{{ ended_stint.crest_url }}" alt="{{ ended_stint.team_name }}">
            <br>
            <h3>Date Start - {{ ended_stint.date_start }}</h3>
            <h3>Date End - {{ ended_stint.date_end }}</h3>
            <a href="{{ url_for('admin.end_stint') }}">End Another Managerial Stint</a>
        {% endif %}

        <div id="messages">
            {% if message %}
                <h4>{{ message }}</h4>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/admin/end_stint.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin/message.js') }}"></script>
{% endblock %}