{% extends "base.html" %}

{% block title %} PL Tables | New Matches {% endblock %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Enter PL Matches</h3>
    <div class="box">
        {% if not new_matches %}
        <div class="field">
            <h3>{{ season }}</h3>
        </div>
        <form id="adminForm" name="adminForm" method="POST" action="{{ url_for('admin.new_match') }}">
            <div id="matches">
                <div class="matchInput">
                    <h1>Match 1:</h1>
                    <div class="field">
                        <div class="control">
                            <label for="home-team">Home Team:</label>
                            <br>
                            <select name="home-team">
                            {% for team in teams %}
                                <option value="{{ team.id }}">{{ team.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                    <div class="field">
                        <div class="control">
                            <label for="home-score">Home score:</label>
                            <input type="number" name="home-score" value="0" min="0" max="15">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label for="away-team">Away Team:</label>
                            <br>
                            <select name="away-team">
                            {% for team in teams %}
                                <option value="{{ team.id }}">{{ team.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label for="home-score">Away score:</label>
                            <input type="number" name="away-score" value="0" min="0" max="15">
                        </div>
                    </div>
                    
                    <div class="field">
                        <div class="control">
                            <label for="match-date">Date:</label>
                            <input id="matchDate" type="date" name="match-date">
                        </div>
                    </div>
                </div>
            </div>

            <button id="addMatch" type="button">Add New Match</button>
            <br>
            <button class="button is-block is-info is-large is-fullwidth">Submit Match Scores</button>
        </form>
        {% endif %}
        
        {% if new_matches %}
            <h1>New Matches Added</h1>
            {% for new_match in new_matches %}
                <h3>Home Team Name - {{ new_match.home_team_name }}</h3>
                <img src="{{ new_match.home_crest_url }}" alt="{{ new_match.home_team_name }}">
                <h4>Home Score - {{new_match.home_score}}</h4>
                <h3>Away Team Name - {{ new_match.away_team_name }}</h3>
                <img src="{{ new_match.away_crest_url }}" alt="{{ new_match.away_team_name }}">
                <h4>Away Score - {{new_match.away_score}}</h4>
                <h3>Match Date - {{new_match.date}}</h3>
                <h3>Season - {{new_match.season}}</h3>
            {% endfor %}
            <a href="{{ url_for('admin.new_match') }}">Add More Matches</a>
        {% endif %}

        <div id="messages">
            {% if message %}
                <h4>{{ message }}</h4>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/admin/new_match.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin/message.js') }}"></script>
{% endblock %}