{% extends "base.html" %}

{% block title %} PL Tables | New Team {% endblock %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Enter New Team</h3>
    <div class="box">
        {% if not team %}
        <form id="adminForm" name="adminForm" method="POST" action="{{ url_for('admin.new_team') }}">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="team_name" placeholder="Team Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="shortcode" placeholder="Team Shortcode" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="crest_url" placeholder="Team Crest URL" autofocus="">
                </div>
            </div>
            <button id="genBtn" class="button is-block is-info is-large is-fullwidth">Submit Team</button>
        </form>
        {% endif %}
        {% if team %}
            <h1>Team Added</h1>
            <h3>Team Name - {{ team.name }}</h3>
            <h3>Team Shortcode - {{ team.shortcode }}</h3>
            <img src="{{ team.crest_url }}" alt="{{ team.name }}">
            <br>
            <a href="{{ url_for('admin.new_team') }}">Generate New Team</a>
        {% endif %}
        
        {% if message %}
            <h4>{{ message }}</h4>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/new_team.js') }}"></script>
{% endblock %}