{% extends "base.html" %}

{% block title %} PL Tables | New Nation {% endblock %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Enter New Nation</h3>
    <div class="box">
        {% if not nation %}
        <form id="adminForm" name="adminForm" method="POST" action="{{ url_for('admin.new_nation') }}">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="nation_name" placeholder="Nation Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="shortcode" placeholder="Nation Shortcode" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="flag_url" placeholder="Nation Flag URL" autofocus="">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Submit Nation</button>
        </form>
        {% endif %}
        {% if nation %}
            <h1>Nation Added</h1>
            <h3>Nation Name - {{ nation.name }}</h3>
            <h3>Nation Shortcode - {{ nation.shortcode }}</h3>
            <img src="{{ nation.flag_url }}" alt="{{ nation.name }}">
            <br>
            <a href="{{ url_for('admin.new_nation') }}">Generate New Nation</a>
        {% endif %}

        <div id="messages">
            {% if message %}
                <h4>{{ message }}</h4>
            {% endif %}
        </div>
        
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/admin/new_nation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin/message.js') }}"></script>
{% endblock %}