{%   extends 'base.html' %}

{% block styles %} <link rel="stylesheet" href="{{ url_for('static', filename='css/blueprints/managers.css') }}"> {% endblock %}
{% block title %} PL Tables | Managers {% endblock %}

{% block content %}
<div class="container">
    <div id="currentManagersDiv">
        <h1 id="current-manager" class="title">Current PL Managers</h1>
        <table class="managers-table" id="currentManagers">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Nationality</th>
                    <th>Club</th>
                    <th>Day Joined</th>
                    <th>Days In Charge</th>
                </tr>
            </thead>
            <tbody>
                {% for stint in stints %}
                    <tr>
                        <td>
                            <label for="currentManager"> <img class="manager-face" src="{{ stint.face_url }}" ></label>
                        </td>
                        <td class="manager-name">
                            <input class="down-button" type="submit" name="{{ stint.id }}" value="{{ stint.manager_name }}"/>
                        </td>
                        <td>
                            <label for="currentManager"> <img class="team-logo" src="{{ stint.crest_url }}"></label>
                        </td>
                        <td>
                            <label for="currentManager"> <img class="team-logo" src="{{ stint.flag_url }}"></label>
                        </td>
                        <td>
                            <label for="currentManager">{{ stint.date_start }}</label>
                        </td>
                        <td></td>
                        
                    </tr>   
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="managerStandings">
        <div id="managerProfile"></div>
        <br>
        <div id="standings" class="standings"></div>
    </div>
    <br>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        const SCRIPT_ROOT = {{ request.script_root|tojson }}
    </script>
    <script src="{{ url_for('static', filename='js/bleuprints/current_managers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/table.js') }}"></script>
{% endblock %}
