{%   extends 'base.html' %}

{% block styles %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blueprints/seasons.css') }}">
{% endblock %}
{% block title %} PL Tables | Seasons {% endblock %}

{% block content %}
    <div id="standingsTitle" class="title">Premier League Seasons</div>
    <div id="seasonInput" class="seasonInput">
        <label for="season">Select a Premier League Season:</label>
        <select name="season" id="seasons">
            {% for season in seasons %}
                <option value="{{ season }}">{{ season }}</option>
            {% endfor %}
        </select>
        <div class="btnContainer">
            <button id="genBtn" class="genBtn">Get Standings</button>
        </div>
        <div id="toggleArrowBtn" class="toggleArrow">&#x25B2; <span class="arrowText"> Collapse</span></div>
    </div>

    <div id="seasonTitle" class="seasonTitle hidden">
        <div id="seasonText" class="seasonText"></div>
        <div id="toggleArrowTitle" class="toggleArrow">&#x25B6; <span class="arrowText"> Change Season</span></div>
    </div>

    <div class="tableArea">
        <div id="standings" class="standings"></div>
        <br>
        <div id="deductions" class="deductions"></div>
        <br>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        const SCRIPT_ROOT = {{ request.script_root|tojson }}
    </script>
    <script src="{{ url_for('static', filename='js/blueprints/seasons.js') }}"></script>
    <script src="{{ url_for('static', filename='js/table.js') }}"></script>
{% endblock %}
