{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blueprints/yearly.css') }}">
{% endblock %}
{% block title %} PL Tables | Seasons {% endblock %}

{% block content %}
    <div id="standingsTitle" class="title">Premier League Calendar Year</div>
    <div id="yearInput" class="yearInput">
        <label for="year">Select a Calendar Year:</label>
        <select name="year" id="years">
            {% for year in years %}
                <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>
        <div class="btnContainer">
            <button id="genBtn" class="genBtn">Get Standings</button>
        </div>
        <div id="toggleArrowBtn" class="toggleArrow">&#x25B2; <span class="arrowText"> Collapse</span></div>
    </div>

    <div id="yearTitle" class="yearTitle hidden">
        <div id="yearText" class="yearText"></div>
        <div id="toggleArrowTitle" class="toggleArrow">&#x25B6; <span class="arrowText"> Change Calendar Year</span></div>
    </div>

    <div class="tableArea">
        <div id="standings" class="standings"></div>
        <br>
        <div id="deductions" class="deductions"></div>
        <br>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        const SCRIPT_ROOT = {{ request.script_root|tojson }}
    </script>
    <script src="{{ url_for('static', filename='js/blueprints/yearly.js') }}"></script>
    <script src="{{ url_for('static', filename='js/table.js') }}"></script>
{% endblock %}
