{%   extends 'base.html' %}

{% block styles %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/seasons.css') }}">
{% endblock %}
{% block title %} PL Tables | Seasons {% endblock %}

{% block content %}
    <div class="container">
        <h1 id="seasons-title" class="title">Premier League Seasons</h1>
        <div style="border-style: solid">
            <label for="season">Select a Premier League Season:</label>
            <br>
            <select name="season" id="seasons">
            {% for season in seasons %}
                <option value="{{ season }}">{{ season }}</option>
            {% endfor %}
            </select>
            <br>
            <button id="genBtn">Get Season Standings</button>
        </div>
        <br>
        <div id="standings-title"></div>
        <div id="standings" class="standings"></div>
        <br>
        <div id="deductions" class="deductions"></div>
        <br>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        const SCRIPT_ROOT = {{ request.script_root|tojson }}
    </script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/download_image.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/seasons.js') }}"></script>
    <script src="{{ url_for('static', filename='js/table.js') }}"></script>
{% endblock %}
